{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
    body{
                    background: linear-gradient(to right, #BBB086, #88b8e1);
                    margin-top:20px;

    }
        /* Styles spécifiques au formulaire */
        form {
            width: 400px;
            margin: 0 auto;
            padding: 30px;
            background-color: #f9f9f9;
            border-radius: 6px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            
        }

        h1 {
            text-align: center;
            color: #333;
            margin-bottom: 30px;
              font-family: Footlight MT;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #555;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"],
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        button[type="submit"] {
            padding: 10px 20px;
            background-color: #BBB086;
            border: none;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
            font-size: 14px;

        }

        button[type="submit"]:hover {
            background-color:  linear-gradient(to right, #BBB086, #88b8e1);
            
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        
        <div class="content">
            <form method="post">
            <h1>Inscription</h1>
                {{ form_start(form) }}
                {{ form_row(form.cin) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.datenaissance) }}
                {{ form_row(form.telephone) }}
                {{ form_row(form.email) }}
                {{ form_row(form.adresse) }}
                {{ form_row(form.login) }}
                {{ form_row(form.password) }}
                {{ form_row(form.submit) }}
                {{ form_end(form) }}
            </form>
        </div>
    </div>
{% endblock %}